<div class="bg-new-black rounded-3 p-3">
  <div class="row align-items-center">
    <div class="col p-3 mb-3">
      <div class="d-inline-block text-center">
        <img src="images/logo.svg" class="w-fixed-50 mx-auto mb-3" alt="svg" />
        <p class="text-light mb-0 fs-7">Il tuo autosalone di fiducia</p>
      </div>
    </div>
    <div class="col justify-content-center align-items-center">
      <h6 class="text-center text-light mb-3">Scopri i nostri brand</h6>
      <ul class="app-menu nav d-flex justify-content-center"></ul>
    </div>
    <div class="col">
      <h6 id="contacts" class="text-light text-end">Info e contatti</h6>
      <ul class="nav justify-content-end align-items-center">
        <li class="text-light fw-lighter">Via Tal dei Tali 5</li>
        <li class="dot"></li>
        <li class="text-light fw-lighter">00100 Torino</li>
        <li class="dot"></li>
        <li class="text-light fw-lighter">0123456789</li>
        <li class="dot"></li>
        <li class="text-light fw-lighter">info&#64;autosalone.com</li>
      </ul>
    </div>
  </div>
</div>
