<div class="bg-new-black rounded-3 p-3">
  <div class="text-center p-3 mb-3">
    <img src="images/logo.svg" class="w-fixed-50 me-3" alt="svg" />
    <p class="text-light mb-0 fs-7">Il tuo autosalone di fiducia</p>
  </div>
  <div class="d-flex">
    <div class="col">
      <h5>Autosalone</h5>
      <ul>
        <li>Via Tal dei Tali 5</li>
        <li>00100 Torino</li>
        <li>0123456789</li>
        <li>info&#64;autosalone.com</li>
      </ul>
    </div>
    <div class="col justify-content-center align-items-center">
      <ul class="app-menu d-flex"></ul>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="mb-0 text-light fs-7">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit,
        excepturi?
      </p>
    </div>
  </div>
</div>
