<h3 class="text-center text-new-black mb-3">Le nostre auto di punta</h3>
<div class="row p-3 g-3">
  <div *ngFor="let car of featuredCars" class="col text-center">
    <div
      [ngClass]="{ available: car.available, 'not-available': !car.available }"
      class="card shadow-sm p-3"
    >
      <div class="card-header border-0">
        <h5 class="card-title mb-0">{{ car.brand }} {{ car.model }}</h5>
      </div>
      <img
        src="images/{{ car.modelImage }}"
        class="w-100 h-fixed-250 object-fit-cover mx-auto my-3"
        alt=""
      />
      <div class="card-body p-0">
        <ul class="nav mb-3 justify-content-center">
          <li class="badge bg-secondary mx-1">Anno {{ car.year }}</li>
          <li class="badge bg-secondary mx-1">
            Prezzo {{ car.price | currency : "EUR" }}
          </li>
          <li
            class="badge bg-secondary mx-1"
            [innerHTML]="car.available ? 'Pronta consegna' : 'Non disponibile'"
          ></li>
        </ul>
        <button
          class="btn btn-primary"
          [routerLink]="['/brand', car.brand.toLowerCase()]"
        >
          Vedi tutte le nostre {{ car.brand }}
        </button>
      </div>
    </div>
  </div>
</div>
